#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config SYSTEM_SQUIRREL
	bool "Squirrel interpreter"
	default n
	---help---
        Support for squirrel scripting language

if SYSTEM_SQUIRREL

config SQUIRREL_NO_COMPILER
	bool "Disable squirrel compiler"
	default y
endif

